h1{
    color: rgb(170, 108, 27);
    background-color: aliceblue;
}

p{
    color: rgb(30, 88, 197);
    background-color: cornsilk;
}

button{
    color: rgb(188, 161, 13);
    background-color: gray;
}