h1{
    text-align: center;
    font-weight: 400;
    text-decoration: dotted;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: right;
    font-weight: bolder;
    text-decoration: double;
    font-size: 55px;
}
p{
    text-align: left;
    font-weight: 100;
    line-height: 2;
}
h3{
        text-decoration: line-through;

}