div{
    height: 200px;
    width: 500px;
     background-color: pink;
   /* border-width: 5px;
    border-style: solid;
    border-color: yellow; */
    border: 5px solid yellow;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;
}

h1{
    border: 3px dashed green;
}

button{
    border:  2ps solid black;
    border-radius: 10px;
    padding-left: 25px;
    background-color: yellow;

    padding-right: 25px;
}